@model Kimyon.Models.tbl_product
@{
    ViewBag.Title = "Adtocart";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<br />
<br />
<br />
@using (@Html.BeginForm())
{
    


<div class="container">

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4">

            <img  style="min-height:200px; width:200px;" src="@Url.Content(Model.product_image)"/>


        </div>



        <div class="col-lg-8 col-md-8 col-sm-8">

            <h1>Ürün Adı: @Model.product_name</h1>
            <h2>Fiyatı: @Model.product_price ₺</h2>
            <h6>@Model.product_description</h6>

            <input type="number"  name="qty" value="1" id="qty" min="1" max="10" /> 

            <input  type="submit" value="Sepete Ekle" class="btn btn-default" />

        </div>



    </div>


</div>

}