
<!DOCTYPE html>
<html>
<head>
    <style>
        .na {
            text-decoration: none;
            color: white;
        }
    </style>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="">
        <div class="container-fluid">
            <div class="navbar-header">
                
                @Html.ActionLink("Kimyon", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Kategoriler", "Index", "User", null, new { @class = "ht" })</li>
                <li>
                    @if (Session["userid"] != null)
                    {
                        @Html.ActionLink("Ürün Yükle", "CreateAd", "User", null, new { @class = "ht" })
                        
                    }
                </li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (Session["userid"] == null)
                    {

                        @Html.ActionLink("Giriş Yap", "login", "User", null, new { @class = "ht", })

                    }
                </li>
                <li>
                    @if (Session["userid"] == null)
                    {
                        @Html.ActionLink("Üye Ol", "SignUp", "User", null, new { @class = "ht" })
                    }
                    else
                    {
                <li>@Html.ActionLink("Sepet", "checkout", "User", null, new { @class = "ht" })</li>
                <li>@Html.ActionLink("Çıkış Yap", "Signout", "User", null, new { @class = "ht" })</li> 
                    }

<li>
            </ul>
        </div>
        
        
           

    </nav>

    @RenderBody()
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
